@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
.cl-avatarBox{
    width: 50px;
    height: 50px;
}
.cl-internal-b3fm6y{
    display: none;
}

.title{
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: -2px;
}